PORT=5000

# To use MongoDB Atlas, uncomment the line below and replace with your Atlas connection string:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/task_manager?retryWrites=true&w=majority

# Local MongoDB default fallback:
MONGODB_URI=mongodb://127.0.0.1:27017/task_manager

JWT_SECRET=super_secret_jwt_key_change_me_in_production
JWT_EXPIRE=30d
NODE_ENV=development